
#panel{
	display:none;
}

.form-paddding{
	padding:0 0 0 10px;
}
.form-margin{
	margin: 26px 0px;
	padding-left: 10px;
}
.form-group{
	position:relative;
}
.icon{
	position: absolute;
	top: auto;
	bottom: 8px;
	right: auto;
	left: 12px;
	font-size: 18px;
}