
#panel{
	display:none;
}
.header{
	border-bottom:1px solid #d4d4d4;
	width:100%;
	float:left;
}
#logo{
	float:left;
	margin: 20px 0;
	width: 100%;
}
.user{
	float:right;
	position: absolute;
	left: auto;
	right: 20px;
}

.list-user{
	font-size: 25px;
	line-height: 19px;
	color: #333;
	border: 1px solid #000;
	border-radius: 50%;
	padding: 13px;
	margin: 12px 0 0;
}
.list-user:hover,.list-user:focus{
	text-decoration:none;
	color:#333;
}

.user-dropdown{
	left:-136px;
}

.logout-button{
	margin: 8px 0 0 24px;
}

.navbar{
	margin: 10px 0;
	float: left;
	width: 100%;
}
.navbar-default{
}
.notice-box{
	width: 100%;
	max-width: 500px;
	height: 230px;
	background:#eaeaea;
	margin: 20px auto 0;
	border-radius: 5px;
	border:1px solid #666;
}
.icon{
	color: #FC0;
	font-size: 50px;
	padding: 47px 15px;
	width: 100%;
}
.icon-right{
	color:#067118;
}
.icon-unsuccessful{
	color:#de1f1f;
}

.login{
	width: 100%;
	max-width: 500px;
	height: 230px;
	background:#eaeaea;
	margin: 20px auto 0;
	border-radius: 5px;
	border:1px solid #666;
	padding: 20px;
}

.login-submit{
	display: block;
	width: 100%;
	max-width: 90px;
	margin: auto;
}
.login-logo{
	margin:auto;
}

.home-logos ul{
	list-style:none;
	margin:0;
	padding:0;
}
.home-logos ul li{
	display:inline-block;
	width: 100%;
	max-width: 24.7%;
}
.home-user{
	font-size: 53px;
	line-height: 19px;
	color: #333;
	border: 1px solid #000;
	padding: 62px;
	margin: 12px 7px 0px;
	width: 100%;
	text-align: center;
}

/*****TABLE CSS******/
/*td:hover{
	background:#CCC;
}*/

.table{
	clear:both;
}

.table-head th{
	text-align:center;
}
.button-left{
	float:left;
	margin: 0px 0px 0px 10px;
}
.button-right{
	float:right;
	margin: 0px 10px 0px 0;
}
/*****TABLE CSS END******/


/****CONTACT2******/
.form-horizontal{
	float:left;
	margin:20px 0;
}
.form-horizontal .control-label {
	text-align:left;
}

/****CONTACT2 END******/


/*****FOOTER******/
.page-footer{
	width:100%;
	background:#f3f3f3;
	margin: 20px 0px;
	padding: 25px 0;
	float: left;
}
/*****FOOTER END******/

@media only screen and (max-width:1199px){
	.home-logos ul li{
		max-width: 23.7%;
	}
}

@media only screen and (max-width:991px){
}

@media only screen and (max-width:767px){
	
	#logo img{
		margin: auto;
	}
	
	.notice-box{
		height: 190px;
	}
	
	.icon {
		padding: 26px 0;
		text-align:center;
		font-size: 30px;
	}
}

@media only screen and (max-width:680px){
	.home-logos ul li{
		max-width: 32%;
	}
}

@media only screen and (max-width:480px){
	
	.home-logos ul li{
		max-width: 48%;
	}
	.home-user {
    	font-size: 30px;
	}
	.notice-box{
		float: left;
		height: auto;
	}
	.icon{
		text-align:center;
	}
}